= render "devise/shared/userheader"
.signupline
  .signupline__box
    アカウントを作成
  .signupline__message
    ※ 必須項目
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .signupline__box__item
      = f.label :email, "Eメールアドレス ※"
    .signupline__box__field
      = f.email_field :email, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :password, "パスワード ※", class: "form"
      - if @minimum_password_length
        .br
          (#{@minimum_password_length}文字以上必要です)
    .signupline__box__field
      = f.password_field :password, autocomplete: "off", class: "form"
    .signupline__box__item
      = f.label :password_confirmation, "もう一度パスワードを入力してください ※"
    .signupline__box__field
      = f.password_field :password_confirmation, autocomplete: "off", class: "form"
    .signupline__box__item
      = f.label :first_name, "苗字 ※"
    .signupline__box__field
      = f.text_field :first_name, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :last_name, "名前 ※"
    .signupline__box__field
      = f.text_field :last_name, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :nickname, "ニックネーム ※"
    .signupline__box__field
      = f.text_field :nickname, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :postal_code, "郵便番号 ※"
    .signupline__box__field
      = f.text_field :postal_code, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :pref, "都道府県 ※"
    .signupline__box__field
      = f.text_field :pref, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :city, "市区町村 ※"
    .signupline__box__field
      = f.text_field :city, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :street, "町名番地 ※"
    .signupline__box__field
      = f.text_field :street, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :apartment_roomnumber, "建物・部屋番号"
    .signupline__box__field
      = f.text_field :apartment_roomnumber, autofocus: true, class: "form"
    .signupline__box__item
      = f.label :telnumber, "電話番号 ※"
    .signupline__box__field
      = f.text_field :telnumber, autofocus: true, class: "form"
    .signupline__box__button
      = f.hidden_field :admin_flg, value: privilege_elevate
      = f.submit "Amazonアカウントを作成", class: "button"
  .signupline__rulemessage
    サインインすることにより、当社の
    = link_to "利用規約", ""
    および
    .br
    = link_to "プライバシー規約", ""
    に同意したとみなされます。
  .signupline__borderline
  .signupline__loginlink
    すでにアカウントをお持ちですか？
    = link_to "サインイン >", new_user_session_path
= render "devise/shared/userfooter"
