= render "shared/header"
.wrapper
  .a-carousel-col
    .swiper-container
      .swiper-wrapper
        .swiper-slide.slide__1
        .swiper-slide.slide__2
        .swiper-slide.slide__3
      .swiper-button-prev
      .swiper-button-next
  .hud-dashboard
    .hud-dashboard__a-section1
      =image_tag "face_icon.png", width:50, height:50
      .hud-dashboard__a-section1__a
        こんにちは、User1 さん
    .hud-dashboard__a-section2
      .hud-dashboard__a-section2__a
        = link_to "/users" do
          %span お客様のご注文
          %p n件の最近の注文
    .hud-dashboard__span__modal-link
      .hud-dashboard__span__modal-link__a
        = link_to "/users" do
          %span プライム会員特典
          %p プライム・ビデオのおすすめ
      .hud-dashboard__span__modal-link__a
        = link_to "/users" do
          %span Amazonギフト券
          %p チャージ額の最大2%分ポイント付与
    .hud-dashboard__primevideo
      .hud-dashboard__primevideo__a
        =image_tag "prime_v.png"

  .btfContent-wrapper.clearfix
    .btfContent1
      .btfContent1__image-shoveler-ns
        Winter Sale 家電、日用品ほか50%OFFも
      .btfContent1__uber-widget-ns-images
        = link_to image_tag("wintersale.jpg"), "/", width:200, height:200
        = link_to image_tag("camera.png"), "/", width:200, height:200
        = link_to image_tag("pc_items.png"), "/", width:200, height:200
        = link_to image_tag("home_kitchen.png"), "/", width:200, height:200
        = link_to image_tag("audio_visuals.png"), "/", width:200, height:200
        = link_to image_tag("wintersale.jpg"), "/", width:200, height:200
        = link_to image_tag("camera.png"), "/", width:200, height:200
      .btfContent1__uber-widget-ns1
      .btfContent1__desktop-billboard1
      .btfContent1__desktop-billboard2

      .btfContent1__image-shoveler-ns
        クリスマスギフトガイド
      .btfContent1__uber-widget-ns-images
        = link_to image_tag("wintersale.jpg"), "/", width:200, height:200
        = link_to image_tag("pc_items.png"), "/", width:200, height:200
        = link_to image_tag("home_kitchen.png"), "/", width:200, height:200
        = link_to image_tag("audio_visuals.png"), "/", width:200, height:200
        = link_to image_tag("camera.png"), "/", width:200, height:200
        = link_to image_tag("wintersale.jpg"), "/", width:200, height:200
        = link_to image_tag("pc_items.png"), "/", width:200, height:200
      .btfContent1__uber-widget-ns1
      .btfContent1__desktop-billboard1
      .btfContent1__desktop-billboard2

      .btfContent1__image-shoveler-ns
        あなたのお買い物傾向から
      .btfContent1__uber-widget-ns-images
        = link_to image_tag("home_kitchen.png"), "/", width:200, height:200
        = link_to image_tag("camera.png"), "/", width:200, height:200
        = link_to image_tag("wintersale.jpg"), "/", width:200, height:200
        = link_to image_tag("audio_visuals.png"), "/", width:200, height:200
        = link_to image_tag("pc_items.png"), "/", width:200, height:200
        = link_to image_tag("home_kitchen.png"), "/", width:200, height:200
        = link_to image_tag("camera.png"), "/", width:200, height:200

      .btfContent1__uber-widget-ns1
      .btfContent1__desktop-billboard1
      .btfContent1__desktop-billboard2

      .btfContent1__image-shoveler-ns
        商品ラインアップ
      .btfContent1__uber-widget-ns-images
        - @stocks.each do |stock|
          = link_to image_tag(stock.image), "/", width:200, height:200
          -# = image_tag stock.image,width:200, height:200
      .btfContent1__desktop-billboard1
      .btfContent1__desktop-billboard2


    .btfContentright
      .btfContentright-one
        =image_tag "ad_bose.jpg"
      .btfContentright-two
        %h3
          家電の
          %br
          売れ筋ランキング
        .listRow
          .ranking
            1
          .ranking-image
            = link_to image_tag("ranking-image-1.jpg"), "/", width:75, height:75
        .listRow
          .ranking
            2
          .ranking-image
            = link_to image_tag("ranking-image-2.jpg"), "/", width:75, height:75
        .listRow
          .ranking
            3
          .ranking-image
            = link_to image_tag("ranking-image-3.jpg"), "/"
        .listRow
          .ranking
            4
          .ranking-image
            = link_to image_tag("ranking-image-4.jpg"), "/"
        .listRow
          .ranking
            5
          .ranking-image
            = link_to image_tag("ranking-image-5.jpg"), "/"

        -# =image_tag "kaden_ranking.png"
      .btfContentright-theee
      .btfContetnright-four

  / .btnContent2
  /   .btnContent2__desktop-billboard3
  /     プライム会員セール
  /   .btnContent2__desktop-billboard4
  /     タイムセール
  /   .btnContent2__uber-widget-ns4
  /     これにも注目
  /   .btnContent2__uber-widget-ns5
  /     この商品を見たお客様はこれも見ています
  /   .btnContent2__desktop-billboard5
  /     audible
  /   .btnContent2__desktop-billboard6
  /     prime:)
  /   .btnContent2__uber-widget-ns6
  /     閲覧履歴からおすすめ

  / .sidebar-top

  / .rhf-frame
  /   最近閲覧した商品とおすすめ商品
  /   .rhf-shoveler
  /   .rhf-header
  /   .rhf-source-title
  /   .a-carousel-col
  /     a-carousel-left
  /   .a-carousel
  /   .a-carousel-col
  /     a-carousel-right
  /   .rvi-container

  / .navFooterBackToTopText
  /   トップへ戻る

= render "shared/footer"
