= render "shared/header"
.wrapper
  .a-carousel-col
    .swiper-container
      .swiper-wrapper
        .swiper-slide.slide__1
        .swiper-slide.slide__2
        .swiper-slide.slide__3
      .swiper-button-prev
      .swiper-button-next
  .hud-dashboard
    .hud-dashboard__a-section1
      =image_tag "face_icon.png", width:50, height:50
      .hud-dashboard__a-section1__a
        - if user_signed_in?
          こんにちは、
          = current_user.nickname
          さん
        - else
          ログインしていません
    .hud-dashboard__a-section2
      .hud-dashboard__a-section2__a
        = link_to orders_path do
          %span
            お客様のご注文
          %p
            - if user_signed_in?
              = @recentorders
            - else
              0
            件の最近の注文
    .hud-dashboard__span__modal-link
      .hud-dashboard__span__modal-link__a
        = link_to "/users" do
          %span プライム会員特典
          %p プライム・ビデオのおすすめ
      .hud-dashboard__span__modal-link__a
        = link_to "/users" do
          %span Amazonギフト券
          %p チャージ額の最大2%分ポイント付与
    .hud-dashboard__primevideo
      .hud-dashboard__primevideo__a
        =image_tag "prime_v.png"

  .btfContent-wrapper.clearfix
    .btfContent1
      .btfContent1__image-shoveler-ns
        各カテゴリーからあなたへのおすすめ商品
      .btfContent1__uber-widget-ns-images
        - @stocks.shuffle.first(15).each do |stock|
          = link_to image_tag(stock.image), stock_path(stock), width:200, height:200

      .btfContent1__image-shoveler-ns
        カテゴリ別一覧
      .btfContent1__uber-widget-ns-images.category-list
        - @rndm_subcategory.zip(@rndm_subcategory_img).shuffle.first(15).each do |stock, stock_image|
          .category-list.category
            = link_to image_tag(stock_image.image), category_sub_category_path(stock.category_id, stock.id)
            %span
              = stock.name

      .btfContent1__image-shoveler-ns
        プライム会員は、お得な会員特典がたくさん
      .btfContent1__uber-widget-ns-images
        = link_to image_tag("prime_category_img_1.png"), "/", width:200, height:200
        = link_to image_tag("prime_category_img_2.png"), "/", width:200, height:200
        = link_to image_tag("prime_category_img_3.png"), "/", width:200, height:200
        = link_to image_tag("prime_category_img_4.png"), "/", width:200, height:200
        = link_to image_tag("prime_category_img_5.png"), "/", width:200, height:200
        = link_to image_tag("prime_category_img_6.png"), "/", width:200, height:200
        = link_to image_tag("prime_category_img_7.png"), "/", width:200, height:200
        = link_to image_tag("prime_category_img_8.png"), "/", width:200, height:200
      .btfContent1__uber-widget-ns1
      .btfContent1__desktop-billboard1
      .btfContent1__desktop-billboard2

      .btfContent1__image-shoveler-ns
      .btfContent1__uber-widget-ns-images
        .btfContent1__uber-widget-ns-images__ad__left
          = image_tag "toppage_ad_1.png"
        .btfContent1__uber-widget-ns-images__ad__right
          = image_tag "toppage_ad_2.png"

      - if @rndm_stock_img.present?
        .btfContent1__image-shoveler-ns
          = @rndm_category.name
          のおすすめ商品
        .btfContent1__uber-widget-ns-images
          - @rndm_stock_img.shuffle.first(15).each do |stock|
            = link_to image_tag(stock.image), stock_path(stock), width:200, height:200

      .btfContent1__image-shoveler-ns
      .btfContent1__uber-widget-ns-images__toppage-content-ad
        = image_tag "toppage_content_ad.jpg"

    .btfContentright
      .btfContentright-one
        =image_tag "ad_bose.jpg"
      .btfContentright-two
        %h3
          家電の
          %br
          売れ筋ランキング
        .listRow
          .ranking
            1
          .ranking-image
            = link_to image_tag("ranking-image-1.jpg"), "/", width:75, height:75
        .listRow
          .ranking
            2
          .ranking-image
            = link_to image_tag("ranking-image-2.jpg"), "/", width:75, height:75
        .listRow
          .ranking
            3
          .ranking-image
            = link_to image_tag("ranking-image-3.jpg"), "/"
        .listRow
          .ranking
            4
          .ranking-image
            = link_to image_tag("ranking-image-4.jpg"), "/"
        .listRow
          .ranking
            5
          .ranking-image
            = link_to image_tag("ranking-image-5.jpg"), "/"

        -# =image_tag "kaden_ranking.png"
      .btfContentright-theee
        %script{async: "", src: "https://embed.small.chat/T8TEASE4EG8SQYQ94Z.js"}
      .btfContetnright-four

= render "shared/footer"
