= render "shared/header"
.wrapper
  .mystorefirstheader
    .ul.clearfix
      .li
        マイストア
      .li
        表示履歴
      .li
        お客様へのおすすめ
      .li
        おすすめ商品を正確にする
      .li
        プロフィール
      .li
        詳しくはこちら
  .mystoresecondheader
    .mystoresecondheader__avatar
      = image_tag "face_icon.png", width: 80, height: 80
    .mystoresecondheader__name
      = @user.first_name
      = @user.last_name
      .br
      さんのストア
    .mystoresecondheader__recentorder
      %span
        お客様のご注文
      .br
      %span
        - if user_signed_in?
          = @recentorders
        - else
          0
        件の最近のご注文
      .br
      = link_to "詳細を表示",""
    .mystoresecondheader__prime
      %span
        プライム会員の特典
      .br
      %span
        無制限のフォトストレージ
      .br
      = link_to "詳細を表示",""
    .mystoresecondheader__audible
      %span
        AUDIBLE：無料体験で聴こう
      .br
      %span
        M-1グランプリ爆笑ネタ配信中
      .br
      = link_to "今すぐチェック",""
    .mystoresecondheader__starting
      %span
        ご利用開始年度
      .br
      = @user.created_at.in_time_zone('Tokyo').strftime("%Y")
  .mystoremainwindow
    .mystoremainwindow__recommendtitle
      = @user.first_name
      = @user.last_name
      さんへのおすすめ
    .mystoremainwindow__recommendcontents.clearfix
      - @stocks.each do |s|
        .mystoremainwindow__recommenditems
          .mystoremainwindow__recommenditems__images
            = link_to image_tag(s.first.image), category_sub_category_path(s.first.category_id, s.first.sub_category_id)
          .mystoremainwindow__recommenditems__title
            = s.first.sub_category.name
          .mystoremainwindow__recommenditems__count
            = s.count
            商品

      -# - @stock_one.each do |stock_one|
      -#   - binding.pry
      -#   .mystoremainwindow__recommenditems
      -#     .mystoremainwindow__recommenditems__images
      -#       = link_to image_tag(stock_one.image), category_sub_category_path(stock_one.category_id, stock_one.sub_category_id)
      -#     .mystoremainwindow__recommenditems__title
      -#       = stock_one.sub_category.name
      -#     .mystoremainwindow__recommenditems__count
      -#       = stock_one.count
            -# - @stocks.each do |stock_count|
            -#   = stock_count.count
            -#   商品
= render "shared/footer"
