%header
  .navbar{role: "navigation"}
    .nav-over
      .nav-over__left
        = link_to root_path do
          = image_tag "logo.png", class: "logo_image"
      .nav-over__right
        = image_tag "campaign.png"
      .nav-over__center
        .nav-over__center__content
          .nav-over__center__content__left
            %select.nav-over__center__content__left__searchselect
              %option{:selected => "selected", :value => "search-alias=aps"} すべて
              %option{:value => "search-alias=digital-text"} Kindleストア
              %option{:value => "search-alias=instant-video"} Amazonビデオ
              %option{:value => "search-alias=digital-music"} デジタルミュージック
              %option{:value => "search-alias=mobile-apps"} Android アプリ
              %option{:value => "search-alias=stripbooks"} 本
              %option{:value => "search-alias=english-books"} 洋書
              %option{:value => "search-alias=popular"} ミュージック
              %option{:value => "search-alias=classical"} クラシック
              %option{:value => "search-alias=dvd"} DVD
              %option{:value => "search-alias=videogames"} TVゲーム
              %option{:value => "search-alias=software"} PCソフト
              %option{:value => "search-alias=computers"} パソコン・周辺機器
              %option{:value => "search-alias=electronics"} 家電&amp;カメラ
              %option{:value => "search-alias=office-products"} 文房具・オフィス用品
              %option{:value => "search-alias=kitchen"} ホーム&amp;キッチン
              %option{:value => "search-alias=pets"} ペット用品
              %option{:value => "search-alias=hpc"} ドラッグストア
              %option{:value => "search-alias=beauty"} ビューティー
              %option{:value => "search-alias=luxury-beauty"} ラグジュアリービューティー
              %option{:value => "search-alias=food-beverage"} 食品・飲料・お酒
              %option{:value => "search-alias=baby"} ベビー&amp;マタニティ
              %option{:value => "search-alias=fashion"} ファッション
              %option{:value => "search-alias=fashion-womens"}    レディース
              %option{:value => "search-alias=fashion-mens"}    メンズ
              %option{:value => "search-alias=fashion-baby-kids"}    キッズ＆ベビー
              %option{:value => "search-alias=apparel"} 服＆ファッション小物
              %option{:value => "search-alias=shoes"} シューズ＆バッグ
              %option{:value => "search-alias=watch"} 腕時計
              %option{:value => "search-alias=jewelry"} ジュエリー
              %option{:value => "search-alias=toys"} おもちゃ
              %option{:value => "search-alias=hobby"} ホビー
              %option{:value => "search-alias=mi"} 楽器
              %option{:value => "search-alias=sporting"} スポーツ&amp;アウトドア
              %option{:value => "search-alias=automotive"} カー・バイク用品
              %option{:value => "search-alias=diy"} DIY・工具
              %option{:value => "search-alias=appliances"} 大型家電
              %option{:value => "search-alias=financial"} クレジットカード
              %option{:value => "search-alias=gift-cards"} ギフト券
              %option{:value => "search-alias=industrial"} 産業・研究開発用品
              %option{:value => "search-alias=pantry"} Amazonパントリー
              %option{:value => "search-alias=warehouse-deals"} Amazonアウトレット
          .nav-over__center__content__center
            .nav-over__center__content__center__search-field
              %label#nav-search-label.aok-offscreen{:for => "twotabsearchtextbox"}
              %input.nav-over__center__content__center__input{:autocomplete => "off", :dir => "auto", :name => "field-keywords", :placeholder => "", :tabindex => "6", :type => "text", :value => ""}/
          .nav-over__center__content__right
            %i.fa.fa-search{"aria-hidden" => "true"}
    .nav-below
      .nav-below__categoly
        = link_to categories_path do
          %span.nav-below__categoly__name カテゴリー
          %span.triangle
        %ul.nav-below__categoly__ul
          %li.nav-below__categoly__li
            = link_to "Kindleストア", ""
          %li
            = link_to "Amazonビデオ", ""
          %li
            = link_to "Amazon Music", ""
          %li
            = link_to "Android アプリストア", ""
          %li
            = link_to "本", ""
          %li
            = link_to "洋書", ""
          %li
            = link_to "ミュージック", ""
          %li
            = link_to "クラシック", ""
          %li
            = link_to "DVD", ""
          %li
            = link_to "TVゲーム", ""
          %li
            = link_to "PCソフト", ""
          %li
            = link_to "パソコン・周辺機器", ""
          %li
            = link_to "家電・カメラ", ""
          %li
            = link_to "文房具・オフィス用品", ""
          %li
            = link_to "ホーム・キッチン", ""
          %li
            = link_to "ペット用品", ""
          %li
            = link_to "ドラッグストア", ""
          %li
            = link_to "ビューティー", ""
          %li
            = link_to "ラグジュアリービューティー", ""
          %li
            = link_to "食品・飲料・お酒", ""
          %li
            = link_to "ベビー・マタニティ", ""
          %li
            = link_to "ファッション", ""
          %li
            = link_to "レディース", ""
          %li
            = link_to "メンズ", ""
          %li
            = link_to "キッズ＆ベビー", ""
          %li
            = link_to "服＆ファッション小物", ""
          %li
            = link_to "シューズ＆バッグ", ""
          %li
            = link_to "腕時計", ""
          %li
            = link_to "ジュエリー", ""
          %li
            = link_to "おもちゃ", ""
          %li
            = link_to "ホビー", ""
          %li
            = link_to "楽器", ""
          %li
            = link_to "スポーツ＆アウトドア", ""
          %li
            = link_to "カー・バイク用品", ""
          %li
            = link_to "DIY・工具", ""
          %li
            = link_to "大型家電", ""
          %li
            = link_to "クレジットカード", ""
          %li
            = link_to "ギフト券", ""
          %li
            = link_to "Amazonパントリー", ""
          %li
            = link_to "Amazonアウトレット", ""

      .nav-below__amazonpoint
        .nav-below__amazonpoint__mystore
          =link_to "マイストア", users_path, :class => "link"
        .nav-below__amazonpoint__timesale タイムセール
        .nav-below__amazonpoint__gift     ギフト券

      .nav-below__tools
        .nav-below__tools__account
          = link_to users_path, :class => "nav-below__tools__account__link" do
            %span.nav-below__tools__account__nickname
            - if user_signed_in?
              = current_user.nickname
              さん
            -else
              ログインしていません
            %span.nav-below__tools__account__list
              アカウント＆リスト
            %span.triangle.triangle__account
          %ul.nav-below__tools__ul
            %li
              .nav-below__tools__ul__left
                %ul.nav-below__tools__ul__inner
                  %li.nav-below__tools__ul__inner__title リスト
                  %li
                    = link_to "ほしい物リスト", ""
                  %li
                    = link_to "映画、DVD", ""
                  %li
                    = link_to "本", ""
                %ul.nav-below__tools__ul__inner
                  %li
                    = link_to "ほしい物リストを作成する", ""
                  %li
                    = link_to "ほしい物リストを見つける", ""
                  %li
                    = link_to "何でもほしい物リスト", ""
              .nav-below__tools__ul__right
                %ul.nav-below__tools__ul__inner
                  %li.nav-below__tools__ul__inner__title アカウントサービス
                  %li
                    = link_to "アカウントサービス", users_path
                  %li
                    = link_to "注文履歴", ""
                  %li
                    = link_to "バーチャルダッシュ", ""
                  %li
                    = link_to "ほしい物リスト", ""
                  %li
                    = link_to "おすすめ商品", ""
                  %li
                    = link_to "Amazon定期おトク便情報", ""
                  %li
                    = link_to "Amazonプライム会員情報", ""
                  %li
                    = link_to "ビジネスアカウントを登録", ""
                %ul.nav-below__tools__ul__inner
                  %li
                    = link_to "コンテンツと端末の管理", ""
                  %li
                    = link_to "Prime Music", ""
                  %li
                    = link_to "ミュージックライブラリにアクセス", ""
                  %li
                    = link_to "お客様のAmazon Drive", ""
                  %li
                    = link_to "ウォッチリスト", ""
                  %li
                    = link_to "ビデオライブラリ", ""
                  %li
                    = link_to "お客様のKindle Unlimited", ""
                  %li
                    = link_to "ゲーム&PCソフトダウンロードライブラリ", ""
                  %li
                    = link_to "アプリライブラリとデバイスの管理", ""
                - if user_signed_in?
                  %ul.nav-below__tools__ul__inner
                    %li
                      = link_to "#{current_user.nickname}さんではありませんか？サインアウト", destroy_user_session_path, method: :delete

          .nav-below__categoly
        .nav-below__tools__order
          = link_to users_path do
            %span 注文履歴
        .nav-below__tools__cart
          = link_to carts_path do
            - if user_signed_in?
              %span
                = @totalitems
            - else
              %span
                0
            = image_tag "cart.png"
