.h2
  お支払い方法を選択
  .h4
    現在の選択
  .h4
    クレジットカード
.h2
  配送先
  .h4
    = @user.first_name
    = @user.last_name
  .h4
    = @user.postal_code
  .h4
    = @user.pref
    = @user.city
    = @user.street
    = @user.apartment_roomnumber

.h2
  ギフトの選択
  .h4
    ギフトの選択
  .h4
    ギフトパッケージ
  .h4
    ギフトメッセージ
  .h4
  =link_to "次に進む", new_order_path
