= render "shared/header"
.orderheader
.ordermessages
  .ordermessages__checkicon
    %i.fa.fa-check
  .ordermessages__messagebox
    .ordermessages__messagebox__title
      ありがとうございます。注文が確定されました。
    .ordermessages__messagebox__sendemail
      確認のEメールを送信しました。
    .ordermessages__messagebox__orderid
      注文番号：
      = @order.id
    .ordermessages__messagebox__itemtext
      / - @orderstocknames.each do |orderstockname|
      /   ・
      /   = orderstockname
      を次のお届け先へ発送します
      = @user.first_name
      = @user.last_name
      発送元：Amazon Japan G.K.
    .ordermessages__messagebox__deliverdate
      お届け日：
      = @deliverydate.in_time_zone('Tokyo').strftime("%Y年%m月%d日")
    .ordermessages__messagebox__links
      =link_to "注文詳細を見る（注文内容の変更・領収証の印刷）","/"
      |
      =link_to "購入についてのよくある質問","/"
      |
      =link_to "Amazonポイントを確認する","/"
  .ordermessages__snsbox
    %ul.tab
      %li.select
        %i.fa.fa-facebook-official
        Facebook
      %li
        %i.fa.fa-twitter
        Twitter
      %li
        %i.fa.fa-envelope-o
        Eメール
    %ul.content
      %li
        .ordermessages__snsbox__itemimage
          / 商品画像
          = image_tag "prime.png", width:50, height:50
        .ordermessages__snsbox__itemtitle
          次の商品を購入しました：
          / 商品名
        .ordermessages__snsbox__itemmessage
          / 商品詳細
          Stock_Detail
        .ordermessages__snsbox__sharebutton
          = link_to "この商品をシェアする", "/" , class: "sharebutton"
      %li.hide
        .ordermessages__snsbox__itemimage
          = image_tag "prime.png", width:50, height:50
        .ordermessages__snsbox__itemtitle
          次の商品を購入しました：
          Stock_Name
        .ordermessages__snsbox__itemmessage
          Stock_Detail
        .ordermessages__snsbox__sharebutton
          = link_to "この商品をシェアする", "/" , class: "sharebutton"
      %li.hide
        .ordermessages__snsbox__itemimage
          = image_tag "prime.png", width:50, height:50
        .ordermessages__snsbox__itemtitle
          次の商品を購入しました：
          Stock_Name
        .ordermessages__snsbox__itemmessage
          Stock_Detail
        .ordermessages__snsbox__sharebutton
          = link_to "この商品をシェアする", "/" , class: "sharebutton"
.recommends
  .recommends__one
    .recommends__one__title
      この商品に関するスポンサーの商品
    .recommends__one__images
      - 4.times do |i|
        = image_tag "recommenditems.png", width: 250 ,height: 250
  .recommends__two
    .recommends__two__title
      もう一度買う
    .recommends__two__images
      - 4.times do |i|
        = image_tag "wintersale.jpg", width: 250 ,height: 250
  .recommends__three
    .recommends__three__title
      この商品を買った人は、こちらの商品も買っています
    .recommends__three__images
      - 4.times do |i|
        = image_tag "camera.png", width: 250 ,height: 250
  .recommends__four
    .recommends__four__title
      この商品をチェックした人は、こちらの商品もチェックしています
    .recommends__four__images
      - 4.times do |i|
        = image_tag "audio_visuals.png", width: 250 ,height: 250
= render "shared/footer"
