= render "shared/header"
.add-to-cart
  .add-to-cart__box
    .add-to-cart__box__left
      .add-to-cart__box__left__checkmark
        %i.fa.fa-check.add-to-cart__box__left__checkmark__icon.fa-fw.fa-2x
      .add-to-cart__box__left__image
        = image_tag Stock.find(@cart.stock_id).image
        .add-to-cart__box__left__image__outer
        .add-to-cart__box__left__image__inner
      .add-to-cart__box__left__textbox
        .add-to-cart__box__left__textbox__text
          追加されました
    .add-to-cart__box__center
      .add-to-cart__box__center__text
        .add-to-cart__box__center__text__over
          %span.add-to-cart__box__center__text__over__total
            %b カートの小計（商品
            = @totalitems.to_s(:delimited)
            点）:
          %span.add-to-cart__box__center__text__over__price
            %b{style: "color: red;"}
              ￥
              = @totalyen.to_s(:delimited)
        .add-to-cart__box__center__text__under
          この注文での獲得ポイント: 0pt
    .add-to-cart__box__right
      .add-to-cart__box__right__box
        .showbtn
          = link_to carts_path class: "add-to-cart__box__right__box__showbtn__link" do
            %btn.add-to-cart__box__right__box__showbtn__link__btn カートの編集
        .registerbtn
          = link_to confirm_orders_path class: "add-to-cart__box__right__box__registerbtn__link" do
            %btn.add-to-cart__box__right__box__registerbtn__link__btn レジに進む
.recommends
  .recommends__one
    .recommends__one__title
      この商品に関するスポンサーの商品
    .recommends__one__images
      .btfContent1__uber-widget-ns-images
        - @stocks.shuffle.first(15).each do |stock|
          = link_to image_tag(stock.image), stock_path(stock), width:200, height:200
  .recommends__two
    .recommends__two__title
      もう一度買う
    .recommends__two__images
      .btfContent1__uber-widget-ns-images
        - @stocks.shuffle.first(15).each do |stock|
          = link_to image_tag(stock.image), stock_path(stock), width:200, height:200
  .recommends__three
    .recommends__three__title
      この商品を買った人は、こちらの商品も買っています
    .recommends__three__images
      .btfContent1__uber-widget-ns-images
        - @stocks.shuffle.first(15).each do |stock|
          = link_to image_tag(stock.image), stock_path(stock), width:200, height:200
  .recommends__four
    .recommends__four__title
      この商品をチェックした人は、こちらの商品もチェックしています
    .recommends__four__images
      .btfContent1__uber-widget-ns-images
        - @stocks.shuffle.first(15).each do |stock|
          = link_to image_tag(stock.image), stock_path(stock), width:200, height:200
.carttotal
  .carttotal__text
    カートの小計
  .carttotal__itemcount
    (商品
    = @totalitems.to_s(:delimited)
    点)：
  .carttotal__price
    %b{style: "color: red;"}
      ￥
      = @totalyen.to_s(:delimited)
  .showbtn
    = link_to root_path class: "add-to-cart__box__right__box__showbtn__link" do
      %btn.add-to-cart__box__right__box__showbtn__link__btn カートの編集
  .registerbtn
    = link_to root_path class: "add-to-cart__box__right__box__registerbtn__link" do
      %btn.add-to-cart__box__right__box__registerbtn__link__btn レジに進む

= render "shared/footer"
