= render "shared/header"
.cartleftwindow
  - @carts.each do |cart|
    - @stock = Stock.find(cart.stock_id)
  .cartleftwindow__ad
    広告スペース
  .cartleftwindow__title
    .cartleftwindow__title__left
      ショッピングカート
    .cartleftwindow__title__right
      ご利用可能なAmazonポイントは
      n
      pt です。
      .br
      カートの商品はAmazonポイントの対象外です
  .cartleftwindow__topborder
    .cartleftwindow__topborder__pricetext
      価格
    .cartleftwindow__topborder__quantitytext
      数量
    .cartleftwindow__topborder__line
  .cartleftwindow__goodslist
    .cartleftwindow__goodslist__detail
      .cartleftwindow__goodslist__detail__image
        / = image_tag "#{@carts.stock[:id].image}", width:100, height: 100
      .cartleftwindow__goodslist__detail__title
        / = link_to "#{@stock.name}", stock_path
      .cartleftwindow__goodslist__detail__maker
        #{@stock.maker}
      .cartleftwindow__goodslist__detail__stockcheck
        在庫あり
      .cartleftwindow__goodslist__detail__primemark
        = image_tag "primemark.png" , width: 50 ,height: 20
      .cartleftwindow__goodslist__detail__giftbox
        / = check_tox_tag("")
        ギフトの設定（贈り主名の表示に必要です）
        = link_to "詳細", ""
      .cartleftwindow__goodslist__detail__destroy
        = link_to "削除", ""
      .cartleftwindow__goodslist__detail__buylater
        = link_to "あとで買う", ""
    .cartleftwindow__goodslist__pricespace
      .cartleftwindow__goodslist__pricespace__price
        ¥#{@stock.sell_price}
    .cartleftwindow__goodslist__quantityspace
      .cartleftwindow__goodslist__quantity
        %p
          %select{name: "quantity"}
            %option{value: "1"} 1
            %option{value: "2"} 2
            %option{value: "3"} 3
            %option{value: "4"} 4
            %option{value: "5"} 5
            %option{value: "6"} 6
            %option{value: "7"} 7
            %option{value: "8"} 8
            %option{value: "9"} 9
            %option{value: "10"} 10
  .cartleftwindow__bottomborder
  .cartleftwindow__subtotal
    .cartleftwindow__subtotal__items
      小計 (
      n
      )点：
    .cartleftwindow__subtotal__total
      ¥ 11,502
  .cartleftwindow__points
    この注文での獲得ポイント：
    n
    pt
  .cartleftwindow__message
    Amazon.co.jp での商品価格や在庫状況は変更される場合があります。カートに追加した時と在庫状況や価格が異なることがあります。カート内で表示されている価格は最新の価格となります。
    .br
    未登録のAmazonギフト券やクーポンは、お支払い方法選択画面や注文確定画面で入力できます。
.cartrightwindow
  .cartrightwindow__totalbox
    .cartrightwindow__totalbox__subtotaltext
      小計(
      n
      点)：
      %b{style: "color: red;"} ￥ 11,502
    .cartrightwindow__totalbox__points
      この注文での獲得ポイント：
      n
      pt
    .cartrightwindow__totalbox__giftsettings
      / = check_tox_tag("")
      ギフトの設定（贈り主名の表示に必要です）
    .cartrightwindow__totalbox__registarbtn
      .registerbtn
        レジに進む
    .cartrightwindow__totalbox__bordertext
      または
    .cartrightwindow__totalbox__oneclicklinks
      = link_to "サインイン"
      して1-ClickをONにする
  .cartrightwindow__sponsoredgoodslink
    .cartrightwindow__sponsoredgoodslink__title
      カート内の商品に関連するスポンサープロダクト
    .cartrightwindow__sponsoredgoodslink__items
      .cartrightwindow__sponsoredgoodslink__items__image
        = image_tag "prime.png" , width: 96, height: 72
      .cartrightwindow__sponsoredgoodslink__items__goodsname
        SPONSORDGOODSNAME
      .cartrightwindow__sponsoredgoodslink__items__rate
        RATE1
      .cartrightwindow__sponsoredgoodslink__items__price
        ¥1,000
      .cartrightwindow__sponsoredgoodslink__items__primemark
        = image_tag "primemark.png"
      .cartrightwindow__sponsoredgoodslink__items__allitems
        .showbtn__mini
          = link_to "すべての出品を見る",""
= render "shared/footer"
