= render "shared/header"
.sub_category
  = @sub_category.name
  .sub_category__list.clearfix
    - @sub_category.stocks.each do |stock|
      .sub_category__list__all
        = link_to image_tag(stock.image), stock_path(stock)
        .sub_category__list__name
          = link_to stock.name, stock_path(stock)
        .sub_category__list__price
          = stock.sell_price
= render "shared/footer"
