= render "shared/adminheader"
= render "shared/leftsidebar"
.adminmainwindow
  .adminmainwindow__title
    %h3
      商品情報編集
    = form_for @item do |f|
      .adminmainwindow__fields
        = f.label :name, "商品名"
        = f.text_field :name, placeholder: "商品名を修正してください"
      .adminmainwindow__fields
        = f.label :image, "商品画像"
        = f.file_field :image , value: @item.image
      .adminmainwindow__fields
        = f.label :detail, "商品詳細"
        = f.text_field :detail, placeholder: "商品修正を入力してください"
      .adminmainwindow__fields
        = f.label :maker, "メーカー"
        = f.text_field :maker, placeholder: "メーカーを修正してください"
      .adminmainwindow__fields
        = f.label :unit_cost, "仕入単価"
        = f.text_field :unit_cost, placeholder: "仕入単価を修正してください"
      .adminmainwindow__fields
        = f.label :quantity, "仕入数量"
        = f.text_field :quantity, placeholder: "仕入数量を修正してください"
      .adminmainwindow__fields
        = f.label :sell_price, "販売価格"
        = f.text_field :sell_price, placeholder: "販売価格を修正してください"
      .adminmainwindow__fields
        = f.label :shipping_cost, "送料"
        = f.text_field :shipping_cost, placeholder: "送料を修正してください"
      .adminmainwindow__fields
        = f.label :category_id, "カテゴリー"
        - category_options = Category.order(:id).map { |c| [c.name, c.id, data: { children_path: category_sub_categories_path(c) }] }
        = f.hidden_field :category_id, class: 'category_js'
        = f.select :category_id, category_options, { include_blank: true }, class: 'select-parent'
      .adminmainwindow__fields
        = f.label :sub_category_id, "ジャンル"
        - sub_category_options = @sub_category.map { |c| [c.name, c.id] }
        = f.hidden_field :sub_category_id, class: 'sub_category_js'
        = f.select :sub_category_id, sub_category_options, { include_blank: true }, class: 'select-children'
      .adminmainwindow__fields
        = f.hidden_field :item_flg, value:0
      .adminmainwindow__fields
        = f.submit value: "Update" , class: "SendButton"
= render "shared/adminfooter"
