= render "shared/adminheader"
= render "shared/leftsidebar"
.adminmainwindow
  .adminmainwindow__boxes
    .adminmainwindow__boxes__items
      [仕入履歴]
      %table
        %tr
          %th id
          %th item_id
          %th name
          %th image
          %th detail
          %th maker
          %th unit_cost
          %th quantity
          %th sell_price
          %th shipping_cost
        - @items.each do |item|
          %tr
            %td
              = item.id
            %td
              = item.item_id
            %td
              = item.name
            %td
              = image_tag item.image, width:30, height:24
            %td
              = item.detail
            %td
              = item.maker
            %td
              = item.unit_cost
            %td
              = item.quantity
            %td
              = item.sell_price
            %td
              = item.shipping_cost
            %td
              = link_to "編集", "/items/#{item.id}/edit",   method: :get
= render "shared/adminfooter"
