= render "shared/header"
.categories.clearfix
  - @categories.each do |category|
    .categories_list
      %option.popover-category-name{value: "#{category.id}",} #{category.name}
      %ul.nav_cat_links
        - category.sub_categories.each do |sub_category|
          %li.nav_first
            = link_to sub_category.name, category_sub_category_path(category,sub_category)
= render "shared/footer"
